@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f6f2;
  --foreground: #1a1a1a;
  --primary: #d95a3b;
  --secondary: #ab3b49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f3f0f5;
    --primary: #fd8d65;
    --secondary: #d25665;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  primary: var(--primary);
  secondary: var(--secondary);
  font-family: var(--font-geist-mono);
}
